# Python / Django exclusions
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Database
db.sqlite3
db.sqlite3-journal

# Node / Frontend
node_modules/
dist/

# IDE / OS files
.vscode/
.idea/
*.DS_Store
